{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <title> Login | Synectt </title>
    <link rel="stylesheet" href="{% static 'signup_styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<div class="container">
    <div class="title">Login</div>
    <div class="content">
        <form method="POST">
        {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
            <span class="details">User Name</span>
            <input name="username" type="text" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
            <span class="details">Password</span>
            <input name="password" type="text" placeholder="Enter your password" required>
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Login">
        </div>
        </form>

        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
  </div>
{% endblock %}