{% extends 'dashboard/layout.html' %}
{% load static %}

{% block title %}Dasboard{% endblock %}

{% block header %}
<div class="header-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-10 col-lg-2 order-lg-1">
                <div class="site-branding">
                    <div class="site-title">
                        <a href="#"><img src="{% static 'dashboard/images/logo.png' %}" alt="logo"></a>
                    </div>
                </div>
            </div>

            <div class="col-2 col-lg-7 order-3 order-lg-2">
                <nav class="site-navigation">
                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active-page"><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{% url 'events' %}">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>

                        <li class="d-lg-none">
                            <div class="buy-tickets">
                                <a class="btn gradient-bg" href="{% url 'new_event' %}">New Event</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                <div class="buy-tickets">
                    <a class="btn gradient-bg" href="{% url 'new_event' %}">New Event</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header contact-page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="entry-header">
                    <h1 class="entry-title">Elevation.</h1>
                </header>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form action="POST">
        {% csrf_token %}
        
    </form>
</div>
{% endblock %}
