{% extends 'dashboard/layout.html' %}
{% load static %}

{% block title %}Dasboard{% endblock %}

{% block header %}
<div class="header-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-10 col-lg-2 order-lg-1">
                <div class="site-branding">
                    <div class="site-title">
                        <a href="#"><img src="{% static 'dashboard/images/logo.png' %}" alt="logo"></a>
                    </div>
                </div>
            </div>

            <div class="col-2 col-lg-7 order-3 order-lg-2">
                <nav class="site-navigation">
                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li class="active-page"><a href="{% url 'events' %}">Events</a></li>
                        <li><a href="{% url 'elevate' %}">Elevation</a></li>
                        <li class="bg-danger"><a href="{% url 'logout' %}">Logout</a></li>

                        <li class="d-lg-none">
                            <div class="buy-tickets">
                                <a class="btn gradient-bg" href="{% url 'new_event' %}">New Event</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                <div class="buy-tickets">
                    <a class="btn gradient-bg" href="{% url 'new_event' %}">New Event</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header events-page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="entry-header">
                    <h1 class="entry-title">Events.</h1>
                </header>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<form class="events-search">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <input type="text" placeholder="Event">
            </div>

            <div class="col-12 col-md-4">
                <input type="text" placeholder="Location">
            </div>

            <div class="col-12 col-md-4">
                <input class="btn gradient-bg" type="submit" value="Search Events">
            </div>
        </div>
    </div>
</form>

<div class="container events-list-page">
    <div class="row events-list">
        {% for event in events %}
            <div class="col-12 col-lg-6 single-event">
                <figure class="events-thumbnail">
                    <a href="#"><img src="{{ event.event_banner.url }}" alt=""></a>
                </figure>
            
                <div class="event-content-wrap">
                    <header class="entry-header flex justify-content-between">
                        <div>
                            <h2 class="entry-title">{{ event.event_name }}</h2>
                            <div class="event-location">{{ event.event_location }}</div>
                            <div class="event-date">{{ event.start_datetime|date:"F d, Y @ P" }} to {{ event.end_datetime|date:"F d, Y @ P" }}</div>
                        </div>
            
                        <div class="event-type flex justify-content-center align-items-center">
                            <span>{{ event.event_type }}</span>
                        </div>
                    </header>
            
                    <div class="entry-content">
                        <p>{{ event.event_description }}</p>
                    </div>
            
                    <footer class="entry-footer">
                        <a href="{% url 'event' eid=event.id %}">Apply</a>
                    </footer>
                </div>
            </div>
        
        {% empty %}
        <h3>No events listed!..</h3>
        {% endfor %}

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="load-more-btn">
                <a class="btn gradient-bg" href="#">Load More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
