{% extends 'dashboard/layout.html' %}
{% load static %}

{% block title %}Dasboard{% endblock %}

{% block header %}
<div class="header-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-10 col-lg-2 order-lg-1">
                <div class="site-branding">
                    <div class="site-title">
                        <a href="#"><img src="{% static 'dashboard/images/logo.png' %}" alt="logo"></a>
                    </div>
                </div>
            </div>

            <div class="col-2 col-lg-7 order-3 order-lg-2">
                <nav class="site-navigation">
                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul>
                        <li class="active-page"><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{% url 'events' %}">Events</a></li>
                        <li><a href="#">Calender</a></li>
                        <li><a href="{% url 'elevate' %}">Elevation</a></li>

                        <li class="d-lg-none">
                            <div class="buy-tickets">
                                <a class="btn gradient-bg" href="{% url 'new_event' %}">New Event</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                <div class="buy-tickets">
                    <a class="btn gradient-bg" href="{% url 'new_event' %}">New Event</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% if highlighted_events %}
<div class="swiper-container hero-slider">
    <div class="swiper-wrapper">
        {% for event in highlighted_events %}
        <div class="swiper-slide" data-date="{{ event.start_datetime|date:'Y/m/d' }}" style="background: url('{{ event.event_banner.url }}') no-repeat">
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="col flex flex-column justify-content-center">
                            <div class="entry-header">
                                <div class="countdown flex align-items-center">
                                    <div class="countdown-holder flex align-items-baseline">
                                        <span class="dday"></span>
                                        <label>Days</label>
                                    </div><!-- .countdown-holder -->
                                    <!-- Add similar blocks for hours, minutes, and seconds -->

                                </div><!-- .countdown -->

                                <h2 class="entry-title">{{ event.event_name }}</h2>
                            </div><!--- .entry-header -->

                            <div class="entry-footer">
                                <a class="btn gradient-bg" href="#">Register here</a>
                            </div><!-- .entry-footer" -->
                        </div><!-- .col -->
                    </div><!-- .container -->
                </div><!-- .hero-content -->
            </div><!-- .swiper-slide -->
        </div><!-- .swiper-wrapper -->
        {% endfor %}
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="swiper-button-next flex justify-content-center align-items-center">
        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
    </div>

    <div class="swiper-button-prev flex justify-content-center align-items-center">
        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10 10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
    </div>
</div>
{% else %}
<div class="page-header events-page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="entry-header">
                    <h1 class="entry-title">Dashboard.</h1>
                </header>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}

{% block content %}
<div class="homepage-info-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-5">
                <figure>
                    <img src="{% static 'dashboard/images/logo-2.png' %}" alt="logo">
                </figure>
            </div>

            <div class="col-12 col-md-8 col-lg-7">
                <header class="entry-header">
                    <h2 class="entry-title">What is Synectt and why choose our services?</h2>
                </header>

                <div class="entry-content">
                    <p>Synectt unites event participants, organizers, sponsors, and control authorities in one dynamic platform. Organizers request sponsorships via a public forum, sponsors endorse endeavors, and authorities oversee event details. This platform fosters event collaboration, ensuring seamless execution. Synectt, the hub for event enthusiasts, drives efficient and enthusiastic event success.</p>
                </div>

                <footer class="entry-footer">
                    <a href="{% url 'about' %}" class="btn gradient-bg">Read More</a>
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="homepage-regional-events">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="regional-events-heading entry-header flex flex-wrap justify-content-between align-items-center">
                    <h2 class="entry-title">Events</h2>

                    <div class="slider-see-all">
                        <a href="{% url 'events' %}">See All</a>
                    </div>
                    
                </header>

                <div class="swiper-container homepage-regional-events-slider">
                    <div class="swiper-wrapper">
                        {% for event in display_events %}
                        <div class="swiper-slide">
                            <figure style="height: 300px;">
                                <img src="{{event.event_banner.url}}" style="height: 100%; object-fit: cover; object-position: center;" alt=""/>

                                <a class="event-overlay-link flex justify-content-center align-items-center" href="#">+</a>
                            </figure><!-- .hero-image -->

                            <div class="entry-header">
                                <h2 class="entry-title">{{event.event_name}}</h2>
                            </div><!--- .entry-header -->

                            <div class="entry-footer">
                                <div class="posted-date">{{event.event_type}} <span>{{ event.start_datetime|date:"M d, Y" }}</span></div>
                            </div><!-- .entry-footer" -->
                        </div><!-- .swiper-slide -->
                        {% endfor %}
                        
                    </div><!-- .swiper-wrapper -->

                    <!-- Add Arrows -->
                    <div class="swiper-button-next flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
                    </div>

                    <div class="swiper-button-prev flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
                    </div>
                </div><!-- .swiper-container -->

            </div>
        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <figure class="footer-logo">
                    <a href="#"><img src="{% static 'dashboard/images/logo.png' %}" alt="logo"></a>
                </figure>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> 
                All rights reserved | Synectt

            </div>
        </div>
    </div>
</footer>

<div class="back-to-top flex justify-content-center align-items-center">
    <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10l-393-393-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
</div>
{% endblock %}
