{% extends 'dashboard/layout.html' %}
{% load static %}

{% block title %}Dasboard{% endblock %}

{% block linking %}
<link rel="stylesheet" href="{% static 'dashboard/form-style.css' %}">
{% endblock %}

{% block header %}
<div class="header-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-10 col-lg-2 order-lg-1">
                <div class="site-branding">
                    <div class="site-title">
                        <a href="#"><img src="{% static 'dashboard/images/logo.png' %}" alt="logo"></a>
                    </div>
                </div>
            </div>

            <div class="col-2 col-lg-7 order-3 order-lg-2">
                <nav class="site-navigation">
                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li class="active-page"><a href="{% url 'events' %}">Events</a></li>
                        <li><a href="{% url 'elevate' %}">Elevation</a></li>
                        <li class="bg-danger"><a href="{% url 'logout' %}">Logout</a></li>

                        <li class="d-lg-none">
                            <div class="buy-tickets">
                                <a class="btn gradient-bg" href="{% url 'new_event' %}">New Event</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                <div class="buy-tickets">
                    <a class="btn gradient-bg" href="{% url 'new_event' %}">New Event</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header events-page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="entry-header">
                    <h1 class="entry-title">Events.</h1>
                </header>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="new-event container">
    <div class="title">New Event</div>
    <div class="content">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="event-details">
                <div class="input-box">
                    <span class="details">Event Name</span>
                    <input name="event_name" type="text" placeholder="Enter the event name" required>
                </div>
                <div class="input-box">
                    <span class="details">Location</span>
                    <input name="event_location" type="text" placeholder="Enter the event location" required>
                </div>
                <div class="input-box">
                    <span class="details">Event Type</span>
                    <select name="event_type" required>
                        <option value="tech">Tech</option>
                        <option value="non-tech">Non-Tech</option>
                        <option value="fest">Fest</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">About Event</span>
                    <textarea name="event_description" placeholder="Enter details about the event" required></textarea>
                </div>
                <div class="input-box">
                    <span class="details">Event Banner</span>
                    <input name="event_banner" type="file" accept="image/*" required>
                </div>
            
                <div class="input-box">
                    <span class="details">Entry Fee</span>
                    <input name="entry_fee" type="number" step="0.01" default:"0.00" placeholder="0.00">
                </div>
                <div class="input-box">
                    <span class="details">Start Date and Time</span>
                    <input name="start_datetime" type="datetime-local" required>
                </div>
                <div class="input-box">
                    <span class="details">End Date and Time</span>
                    <input name="end_datetime" type="datetime-local" required>
                </div>
            </div>
    
            <!--
            <div class="event-details">
                <div class="input-box">
                    <span class="details">Organizer Name</span>
                    <input name="organizer_name" type="text" placeholder="Enter the organizer's name" required>
                </div>
                <div class="input-box">
                    <span class="details">Club (if any)</span>
                    <input name="organizer_club" type="text" placeholder="Enter the club name">
                </div>
                <div class="input-box">
                    <span class="details">Contact Phone Number</span>
                    <input name="organizer_phone" type="text" placeholder="Enter the contact phone number" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input name="organizer_email" type="email" placeholder="Enter the organizer's email" required>
                </div>
            </div>
            -->
            <div class="button">
                <input type="submit" value="Create Event">
            </div>
        </form>
        
    </div>
  
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
  </div>
{% endblock %}
